<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card bg-light text-dark">
      <div class="card-body">
        <form #loginForm="ngForm" (ngSubmit)="login()">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" class="form-control" [(ngModel)]="name" required name="name">
          </div>
          <div class="form-group">
            <label for="contactNo">Contact No:</label>
            <input type="number" id="contactNo" class="form-control" [(ngModel)]="contactNo" required name="contactNo">
          </div>
          <div class="form-group">
            <button class="btn btn-info" type="submit">Login</button>
          </div>
        </form>
        <div *ngIf="errorMessage!=null">
          <span class="error-message">{{errorMessage}}</span>
        </div>
        <div *ngIf="successMessage!=null">
          <span class="success-message">{{successMessage}}</span>
        </div>
      </div>
    </div>
  </div>
</div>