<div class="row">
  <div class="col-md-4 offset-4">
      <div class="card bg-light text-dark">
          <div class="card-body">
            <form *ngIf="!successMessage" [formGroup]="registerForm" (ngSubmit)="register()" class="form">
                <h1>Join Us</h1>                
                    <div class="form-group">
                        <label>Name<span class="text-danger">*</span></label>        
                        <input type="text" formControlName="name" id="uName" class="form-control"> 
                        <span class="error-message" *ngIf="registerForm.get('name').invalid && registerForm.get('name').touched">Please Enter your name</span>
                    </div>
          
                    <div class="form-group">
                        <label>Email Id<span class="text-danger">*</span></label>    
                        <input type="text" type="email" formControlName="email" id="uemail" class="form-control"> 
                        <span class="error-message" *ngIf="registerForm.get('email').invalid && registerForm.get('email').touched">Please enter your email id</span>
                    </div>
          
                    <div class="form-group">
                        <label>Contact Number<span class="text-danger">*</span></label>    
                        <input minlenghth="10" maxlength="10" type="number" formControlName="contact" id="ucontact" class="form-control"> 
                        <span class="error-message" *ngIf="registerForm.get('contact').invalid && registerForm.get('contact').touched">Please enter 10 digit contact number</span>
                    </div>
          
                    <br>
                    <span class="text-danger">* marked feilds are mandatory</span>
                    <button class="btn btn-primary form-control" type="submit" [disabled]="registerForm.invalid">Register</button>
                        
                </form>
                <div class="form-group">
                    <div *ngIf="errorMessage!=null" class="text-danger">
                        {{errorMessage}}
                    </div>
                    <div *ngIf="successMessage!=null" class="text-success">
                        <h4>Successfully Registered!</h4>
                        <h4><a [routerLink]='["/login"]'>Click here to login</a></h4>
                    </div>
                </div> 
          </div>
      </div>
  </div>
</div>